.label-alert {
    color: red !important;
}

.input-alert {
    border: 2px solid red !important;
}

.icon-eye {
    position: absolute;
    right: 5%;
    top: 35%;
    width: 10%;
}

::placeholder {
    color: inherit !important;
}
